$w:100%;
$pos-re:relative;
$pos-ab:absolute;
$pos-fi:fixed;
*{
  margin:0;padding:0;list-style:none;
}
@mixin bai {
    width:$w;
    height:$w;
}

html,body{
  @include bai;
  background-color:#f8f8f8;
}
.content{
  @include bai;
  display:flex;
}

/*-----*/
.stage{
  position:$pos-re;
  width:$w;
  height:780px;

}
/*-----*/
/*

scrollWidth：对象的实际内容的宽度，不包滚动条边线宽度，会随对象中内容超过可视区后而变大。 

clientWidth：对象内容的可视区的宽度，不包滚动条等边线，会随对象显示大小的变化而改变。 

offsetWidth：对象整体的实际宽度，包滚动条等边线，会随对象显示大小的变化而改变。
*/


/*-----*/
.img-sec{
  position:$pos-re;
  @include bai;
  overflow:hidden;
  background-color:#ddd;
  @at-root{
    .img-figure{
      position:$pos-ab;
      width:320px;
      height:340px;
      padding:40px;
      margin:0;
      background-color:#fff;
      box-sizing:border-box;
      img{
        width:100%;border-radius:8px;
        box-shadow:1px 0 50px rgba(0,0,0,.5);
      }
    }
    figcaption{
      text-align:center;
      .img-title{
        margin:20px 0 0 0;
        color:#a7a0a2;
        font-size:16px;
      }
    }
  }
}
/*-----*/



/*-----*/
.contorller-nav{
  position:$pos-ab;
  left:0;
  bottom:30px;
  width:100%;
  text-align:center;
  z-index:101;
}
/*-----*/
